.our-belive {
    padding: 15px;
}

.our-belive h3 {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.our-belive h2, p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.feature-item {
  padding: 10px 20px;
}

.icon-wrapper {
  width: 80px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text {
  font-size: 18px;
  color: #222;
  font-weight: 500;
  line-height: 1.5;
}

.why-choose {
    padding: 15px;
}

.why-choose h3 {
    color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 29px;
}

.why-choose h2, p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
}

.stat-box {
  padding: 20px;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.stat-text {
  font-size: 1rem;
  color: #555;
  margin-top: 8px;
}

.section-title {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 40px;
    }

.content-box {
      background: rgba(0, 0, 0, 0.05);
      padding: 20px;
      line-height: 1.7;
      font-size: 1.05rem;
      color: #333;
    }


  

@media (max-width: 768px) {
   
 .our-belive h2, h3, p{
    text-align: center;
 }
  .feature-text {
    font-size: 16px;
  }

  .icon-wrapper {
    width: 70px;
    height: 70px;
  }

  .feature-icon {
    font-size: 26px;
  }
  .why-choose{
    text-align: center;
  }
  .stat-number {
    font-size: 2rem;
  }

  .stat-text {
    font-size: 0.95rem;
  }
    iframe {
        min-height: 320px;
      }
}


